<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlkh.shiro.demo.dao.sys.SysUserDao">
    <resultMap id="sysUser" type="com.xlkh.shiro.demo.entity.sys.SysUser">
        <id column="id" property="id" javaType="long"/>
        <result column="username" property="username" javaType="string"/>
        <result column="password" property="password" javaType="string"/>
        <result column="real_name" property="realName" javaType="string"/>
        <result column="gender" property="gender" javaType="integer"/>
        <result column="icon_url" property="iconUrl" javaType="string"/>
        <result column="user_desc" property="userDesc" javaType="string"/>
        <result column="telephone" property="telephone" javaType="string"/>
        <result column="mobile" property="mobile" javaType="string"/>
        <result column="email" property="email" javaType="string"/>
        <result column="dept_id" property="deptId" javaType="long"/>
        <result column="super_admin" property="superAdmin" javaType="integer"/>
        <result column="status" property="status" javaType="string"/>
        <result column="remark" property="remark" javaType="string"/>
        <result column="del_flag" property="delFlag" javaType="integer"/>
        <result column="pw_reset_time" property="pwResetTime" javaType="java.time.LocalDateTime"/>
        <result column="create_user" property="createUser" javaType="long"/>
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime"/>
        <result column="update_user" property="updateUser" javaType="long"/>
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,<!-- 用户ID -->
        username,<!-- 用户名 -->
        real_name,<!-- 姓名 -->
        gender,<!-- 性别: 0-女; 1-男; 2-保密 -->
        icon_url,<!-- 头像地址 -->
        user_desc,<!-- 描述 -->
        telephone,<!-- 电话 -->
        mobile,<!-- 手机号 -->
        email,<!-- 邮箱 -->
        dept_id,<!-- 部门ID -->
        super_admin,<!-- 超级管理员: 1-是; 0-不是 -->
        status,<!-- 状态 -->
        remark,<!-- 备注 -->
        del_flag,<!-- 删除标识:1-未删除; 0-删除 -->
        pw_reset_time,<!-- 末次密码更新时间 -->
        create_user,<!-- 创建人 -->
        create_time,<!-- 创建时间 -->
        update_user,<!-- 更新人 -->
        update_time<!-- 更新时间 -->
    </sql>


    <select id="getList" resultType="com.xlkh.shiro.demo.entity.sys.SysUser">
        SELECT
            t1.*,(
                  SELECT
                    t2. NAME
                  FROM
                    sys_dept t2
                  WHERE
                    t2.id = t1.dept_id
            ) deptName
        FROM
          sys_user t1
        WHERE
          t1.del_flag = 0
        AND t1.super_admin = 0
        <if test="username != null and username.trim() != ''">
            and t1.username like #{username}
        </if>
        <if test="deptIdList != null">
            and t1.dept_id in
            <foreach item="id" collection="deptIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getById" resultType="com.xlkh.shiro.demo.entity.sys.SysUser">
        SELECT
            t1.*, (
                SELECT
                    t2. NAME
                FROM
                    sys_dept t2
                WHERE
                    t2.id = t1.dept_id
            ) deptName
        FROM
            sys_user t1
        WHERE
            t1.id = #{value}
        AND t1.del_flag = 0
    </select>

    <select id="getByUsername" resultType="com.xlkh.shiro.demo.entity.sys.SysUser">
       SELECT
            *
        FROM
            sys_user
        WHERE
            username = #{value}
        AND del_flag = 0
    </select>

    <update id="updatePassword">
        UPDATE sys_user
        SET PASSWORD = #{newPassword}
        WHERE
            id = #{id}
    </update>

    <select id="getCountByDeptId" resultType="int">
        SELECT
            count(*)
        FROM
            sys_user
        WHERE
            dept_id = #{value}
        AND del_flag = 0
    </select>


</mapper>